body {
    background-image: url('background.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
}

#escapeMsg {
    position: absolute;
    z-index: 1;
    display: none;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: red;
    border: 10px solid red;
    top: 15%;
    right: 15%;
    left: 15%;
    padding: 10px;
}

#winMsg {
    position: absolute;
    z-index: 1;
    display: none;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    color: green;
    border: 10px solid green;
    top: 5%;
    right: 15%;
    left: 15%;
    padding: 10px;
}

#guessedNumber {
    display: inline;
}

#hintBox {
    display: none;
    border: 10px dashed red;
    background-color: lightcoral;
    float: left;
    position: absolute;
    width: 190px;
    top: 100px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

#helpMsg {
    position: absolute;
    top: 10px;
    left: 100px;
    right: 100px;
    padding: 10px;
    background-color: white;
    border: 10px solid blue;
    display: none;
}

#helpMsg h5, #helpMsg h1 {
    margin: 0px;
    padding: 0px;
}

#helpMsg #closeBox {
    float: right;
    padding: 10px;
    border: 5px solid blue;
    top: 20px;
    font-size: 14px;
    margin: 5px;

}

.footerImages {
    width: 80%;
}

.centerAll {
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
#headers {
    margin-top: 50px;
}

#headers h1 {
    font-weight: 800;
    font-size: 45px;
}

#main {
    margin-top: 30px;
}

#menu-btns {
    margin-top: 50px;
    padding: 10px;
     /* border-top:#B6B6B6 1px solid; */
}

#footer {
    margin-top: 60px; 
    border-radius: 30px;
    padding: 10px;
    background-color: white;
}

#guesses {
    display: none;
}
.projectBy {
    color: gray;
    margin: 0px;
    margin-top: 5px; 
    padding: 0px;
    font-size: 12px;
}

.name {
    margin: 0px;
    font-size: 28px;
    padding: 0px;
}
.guessList {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    /* display: inline-block; */
    /* margin: 10px; */
}

.guessList .items {
    border-radius: 25%;
    display: inline-block;
    padding: 6px;
    width: 50px;
    font-size: 18px;
    /* font-weight: bold; */
    background-color: #ff0039;
    color: #ffffff;
    border: 1px solid #ff0039;
    margin-right: 5px;
}

.guessList .items h5 {
    text-align: center;
    padding: 0px;
    margin: 0px;    
    color: black;
    display: block;
    font-size: 10px;
    font-weight: bold;
    color: #690017;
}

.descriptor {
    font-style: italic;

}

.guessInput {
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size:100px;
    font-weight: bolder;
    border: 10px solid #1a6ecc;
}

.guessTry {
    position: relative;
    top: 70px;
    left: -60px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size:18px;
    font-weight: bolder;
    background-color: #3fb618;
    border: 3px solid #3fb618;
}

#message {
    padding: 15px;
    margin: 15px;
    background: black;
    text-align: center;
    font-size: 14px;
    color: white;
    display: none;
}

#message2 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 39px;
    font-weight: bolder;
    color: red;
    display: none;
}