body {
    background-image: url('background.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
}
.footerImages {
    width: 80%;
}

.centerAll {
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
#headers {
    margin-top: 50px;
}

#main {
    margin-top: 30px;
}

#menu-btns {
    margin: 10px;
    padding: 10px;
    /** border-top:#B6B6B6 1px solid; **/
}

#footer {
    margin-top: 60px; 
    border-radius: 30px;
    padding: 10px;
    background-color: white;
}

.projectBy {
    color: gray;
    margin: 0px;
    margin-top: 5px; 
    padding: 0px;
    font-size: 12px;
}

.name {
    margin: 0px;
    padding: 0px;
}
.guessList {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    /* display: inline-block; */
    /* margin: 10px; */
}

.guessList .items {
    border-radius: 10%;
    display: inline-block;
    padding: 8px;
    width: 50px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
}

.descriptor {
    font-style: italic;

}